.circle-container {
    position: relative;
    width: 300px;
    height: 100px;
    margin: 50px auto;
}
.circle {
    position: absolute;
    width: 100px;
    height: 100px;
}
.circle.red-left {
    left: 0;
    z-index: 1;
}
.circle.purple {
    left: 67px;
    z-index: 2;
}
.circle.red-right {
    left: 137px;
    z-index: 1;
}
.circle.half-left {
    left: 0;
    height: 53px;
    z-index: 2;
}
.circle.half-right {
    left: 137px;
    height: 53px;
    z-index: 2;
}

